ip: "192.168.10.10"
memory: 2048
cpus: 2
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
  - ~/.ssh/id_rsa

folders:
  - map: ~/.homestead/Projects
    to: /home/vagrant/Sites

  - map: ~/Homestead/nginx-configs
    to: /home/vagrant/nginx-configs

sites:
  - map: athena.test
    to: /home/vagrant/Sites/athena/public
    php: "7.4"

  - map: workshopdownload.test
    to: /home/vagrant/Sites/workshopdownload/public
    php: "7.4"
    
  - map: qevin.test
    to: /home/vagrant/Sites/qevin/public
    php: "7.4"

  - map: admin.sauron.test
    to: /home/vagrant/Sites/sauron/public
    php: "8.0"

  - map: sdtek.test
    to: /home/vagrant/Sites/sdtekcheckin/public
    php: "7.4"

  - map: arcade.test
    to: /home/vagrant/Sites/arcade/www

  - map: driversafety.test
    to: /home/vagrant/Sites/driversafety/public

  - map: trivia.test
    to: /home/vagrant/Sites/trivia/public
    php: "7.4"

databases:
  - homestead
  - athena
  - athena_test
  - workshopdownload
  - qevin
  - sauron
  - sauron_test
  - trivia

features:
  - mysql: true
  - mongodb: true
  - python: true
  - webdriver: true
# blackfire:
#     - id: foo
#       token: bar
#       client-id: foo
#       client-token: bar

# ports:
#     - send: 50000
#       to: 5000
#     - send: 7777
#       to: 777
#       protocol: udp
